#define list(model)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生管理系统</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">

    <style>
        body, html {
            min-height: 100%;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    #@filter?()
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body" pad15="">
                    <div class="layui-btn-group demoTable " style="margin-bottom: 10px;">
                        <button class="layui-btn" data-type="deleteAll">删除</button>
                        <button class="layui-btn" data-type="add">增加</button>
                        #@custom?()
                        <button class="layui-btn" data-type="export">导出</button>
                    </div>
                    <table class="layui-hide" id="test" lay-filter="demo"></table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/Jquery-ajax.js"></script>
<script type="text/html" id="switchTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-filter="sexDemo" {{ d.verify
           ? 'checked' : '' }}>
</script>
<script>

</script>
#@cols()
<script>
    layui.use(['table', 'form', 'upload'], function () {
        var table = layui.table, form = layui.form, upload = layui.upload;
        var where = {}
        var filterIndex = null;

        //指定允许上传的文件类型
        upload.render({
            elem: '#import'
            , url: '/user/import'
            , accept: 'file' //普通文件
            , done: function (res) {
                if (res.code == 200) {
                    location.reload()
                }
                else {
                    layer.msg(res.message)
                }
            }
        });
        var page = true;
        try {
            page = paging;
        } catch (e) {

        }
        table.render({
            elem: '#test',
            url: '/#(model)/list',
            where: where,
            page: page,
            cols: [cols]
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            where = data.field;
            table.reload('test', {
                url: '/#(model)/list',
                where: where,
            });
            layer.close(filterIndex)
            return false;
        });
//监听性别操作
        form.on('switch(sexDemo)', function (obj) {
            $.ajax({
                url: '/teacher/' + this.value + '/check',
                type: 'POST',
                data: {state: obj.elem.checked},
                success: function (res) {
                    window.location.reload();
                },
                error: function (j) {
                    var obj = JSON.parse(j.responseText)
                    layer.msg(obj.message)
                }
            })
        });
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
            #@detail?()
            } else if (obj.event === 'del') {
                tools.delete([{id: obj.data.id}])
            } else if (obj.event === 'edit') {
                tools.form(obj.data.id)
            } else if (obj.event === "check") {
                console.log(obj)
                var index = layer.open({
                    type: 2,
                    area: ['400px', '800px'],
                    maxmin: true,
                    content: '/auditResults/form/0' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                });
                layer.full(index);

            }
        });

        var $ = layui.$, active = {
            deleteAll: function () { //获取选中数据
                var checkStatus = table.checkStatus('test')
                    , data = checkStatus.data;
                console.log(data)
                tools.delete(data.map(function (value) {
                    return {id: value.id}
                }))
            },
            add: function () {
                tools.form(0)
            },
            filter: function () {
                filterIndex = layer.open({
                    type: 1,
                    area: ['820px', '540px'], //宽高
                    content: $('#filter').html(),
                    success: function () {
                    #@filterEvent?()
                            form.render()
                    }
                });
            },
            export: function () {
                window.open('/#(model)/export', "_blank")
            }
        };
        var tools = {
            modelName: '#(model)',
            delete: function (obj) {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: '/' + tools.modelName + '/delete',
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(obj),
                        dataType: "JSON",
                        success: function (res) {
                            layer.close(index);
                            window.location.reload();
                        },
                        error: function (j) {
                            var obj = JSON.parse(j.responseText)
                            layer.msg(obj.message)
                        }
                    })

                });
            },
            form: function (id) {
                var index = layer.open({
                    type: 2,
                    area: ['400px', '100%'],
                    maxmin: true,
                    content: '/' + tools.modelName + '/form/' + id //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                });
                layer.full(index);
            }
        }
        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

         #@filterEvent?()
        #@js?()
    })
</script>
</body>
</html>
#end