<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
    <style>
        /**treeselect*/
        .layui-form-select .layui-tree {
            display: none;
            position: absolute;
            left: 0;
            top: 42px;
            padding: 5px 0;
            z-index: 999;
            min-width: 100%;
            border: 1px solid #d2d2d2;
            max-height: 300px;
            overflow-y: auto;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0,0,0,.12);
            box-sizing: border-box;
        }
        .layui-form-selected .layui-tree {
            display: block;
        }
    </style>
</head>
<body style="padding: 20px;">
<form class="layui-form" action="">

    
    #if(me!=null)
    <input type="hidden" name="id" value="#(me.id??)">
    <input type="hidden" name="teacher" value="#(me.getTeacher().id??)">
    <input type="hidden" id="annex" name="annex" value='#(me.annex??)'>
    #end


    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="#(me.name??)" lay-verify="required" autocomplete="off"
                   placeholder="请输入名称"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">刊物名称</label>
        <div class="layui-input-block">
            <input type="text" name="journalOfPublications" value="#(me.journalOfPublications??)" lay-verify="required" autocomplete="off"
                   placeholder="请输入刊物名称"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">刊号</label>
        <div class="layui-input-block">
            <input type="text" name="issueNumber" value="#(me.issueNumber??)" lay-verify="required" autocomplete="off"
                   placeholder="请输入刊号"
                   class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">刊号类别</label>
        <div class="layui-input-block">
            <select name="publicationCategory" id="publicationCategory"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">本人排名</label>
        <div class="layui-input-block">
            <select name="myRanking" id="myRanking"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出版日期</label>
        <div class="layui-input-block">
            <input class="layui-input" name="publicationDate"  id="publicationDate" value="#date(me.publicationDate??,"yyyy-MM-dd")" placeholder="请输入出版日期">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="remark" id="remark" class="layui-textarea" >#(me.remark??)</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="testList">选择多文件</button>
                <div class="layui-upload-list">

                </div>

            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/Jquery-ajax.js"></script>
<script>
    layui.config({
        base: '/static/layui/lay/modules/' //你的模块目录
    })//加载入口
</script>
<script>
    layui.use(['form','laydate','upload'], function () {
        var form = layui.form,laydate=layui.laydate,upload=layui.upload;
        laydate.render({
            elem: '#publicationDate'
        });
        loadSelectList('刊物类别','publicationCategory',#(me.getPublicationCategory().id??0))
        loadSelectList('本人排名','myRanking',#(me.getMyRanking().id??0))

        var files=[];
        var demoListView = $('.layui-upload-list')
            ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: '/file/upload'
            ,accept: 'file'
            ,multiple: true
            ,auto: true
            ,done: function(res, index, upload){
                if(res.code == 200){ //上传成功
                  if(files.filter(function (item) {
                          return item.file.hash==res.file.hash
                      }).length>0){
                       return
                  }
                    files.push(res)
                    var tr = $(['<div><span class="layui-badge layui-bg-green" style="margin-bottom: 10px;">'+res.file.fileName+'</span> <button class="layui-btn layui-btn-primary layui-btn-xs" id="remove">删除</button></div>'].join(''));

                    tr.find('#remove').on('click', function(){
                        delete files[index]; //删除对应的文件
                        files.splice(index,1)
                        tr.remove();

                    });

                    demoListView.append(tr);
                    return
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                layer.msg("上传失败")
            }
        });
        var annex = []
        try {
            annex = JSON.parse($('#annex').val())
            files = annex;
        }
        catch(err) {console.log(err)}

        annex.map(function (item,index) {
            var tr = $(['<div><span class="layui-badge layui-bg-green" style="margin-bottom: 10px;">'+item.file.fileName+'</span> <button class="layui-btn layui-btn-primary layui-btn-xs" id="remove">删除</button></div>'].join(''));
            tr.find('#remove').on('click', function(){
                tr.remove();
                delete files[index];
                files.splice(index,1)
            });

            demoListView.append(tr)
        })

        form.on('submit(demo1)', function (data) {
            delete data.field.file
            data.field.annex = JSON.stringify(files)
            $.post("/paper/save", data.field, function (res) {

                if (res.code == 500) {
                    layer.alert(res.message)
                }
                else{
                    parent.location.reload();
                }
            })
            return false;
        });


    });
</script>
</body>
</html>