 #@list("awards")
#define cols()
<script>
    var cols = [
        {type: 'checkbox', fixed: 'left'},
        {field: 'awardedName', title: '获奖名称'},
        {field: 'getDate', title: '获取日期'},
        {title: '获奖级别', templet: function (s) {
                return " <span class=\"layui-badge layui-bg-green\">" + s.awardLevel.name + "</span>";
            }},
        {field: 'awardingUnit', title: '颁奖单位'},
        {
            title: '本人排名', templet: function (s) {
                return " <span class=\"layui-badge layui-bg-green\">" + s.myRanking.name + "</span>";
            }
        },
        {field: 'awardAmount', title: '获奖金额'},
        {
            title: '教师', templet: function (s) {
                return " <span class=\"layui-badge layui-bg-green\">" + s.teacher.fullName + "</span>";
            }
        },
        {
            title: '附件', templet: function (s) {
                if (s.annex != undefined && s.annex != "") {
                    var o = JSON.parse(s.annex)
                    return  o.map(function (item) {
                        return " <a target='_blank' href='/file/"+item.fileName+"'><span class=\"layui-badge layui-bg-green\">" + item.file.fileName + "</span></a>";
                    }).join(" ")
                }
                return "无"
            }
        },
        {fixed: 'right', width: 178, align: 'center', toolbar: '#barDemo'},
    ]
</script>
#end