<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <style>
        .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;}
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">教师资料</div>
                <div class="layui-card-body" pad15="">
                    <form class="layui-form" action="">

                        #if(me!=null)
                        <input type="hidden" name="id" value="#(me.id??)">
                        #end

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="detail">查看个人综合资料</button>
                            </div>
                        </div>

                        <!--todo  添加非法输入的判断-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">工号</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="jobNumber" value="#(me.jobNumber??)" id="jobNumber"
                                       placeholder="请输入工号"
                                       onkeyup="value=value.replace(/[^0-9a-zA-Z]/g,'')"
                                        onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9a-zA-Z]/g,''))"
                                />

                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="demo1">
                                        <p id="demoText"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="fullName" value="#(me.fullName??)" placeholder="请输入姓名">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">出生年月</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="birthday" id="birthday"  placeholder="请输入出生年月">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <select name="sex" id="sex"></select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">聘用性质</label>
                            <div class="layui-input-block">
                                <select name="pyxz" id="pyxz"></select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">职称</label>
                            <div class="layui-input-block">
                                <select name="zc" id="zc"></select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">职务</label>
                            <div class="layui-input-block">
                                <input type="text" name="job" class="layui-input" placeholder="请输入职务"
                                       value="#(me.job??)">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">学历</label>
                            <div class="layui-input-block">
                                <select name="education" id="education"></select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">学位</label>
                            <div class="layui-input-block">
                                <select name="degree" id="degree"></select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">专业领域</label>
                            <div class="layui-input-block">
                                <select name="zyly" id="zyly"></select>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">系部</label>
                            <div class="layui-input-block">
                                <select name="department" id="department"></select>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">科室</label>
                            <div class="layui-input-block">
                                <select name="departments" id="departments"></select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">专业特长</label>
                            <div class="layui-input-block">
                                <textarea name="zytc" class="layui-textarea" rows="3">#(me.zytc??)</textarea>
                            </div>
                        </div>

                        <div class="layui-form-item" pane="">
                            <div class="layui-input-block">
                                <input type="checkbox" name="gxzg" lay-skin="primary" value="1" title="高校资格证"
                                       #if(me.isGxzg()??==true) checked="" #end>
                                <input type="checkbox" name="ggjs" lay-skin="primary" value="1" title="骨干教师"
                                       #if(me.isGgjs()??==true) checked="" #end>
                                <input type="checkbox" name="ssjs" lay-skin="primary" value="1" title="双师教师"
                                       #if(me.isSsjs()??==true) checked="" #end>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">QQ</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="qq" lay-verify="required|number" value="#(me.qq??)"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="email" lay-verify="required|email" autocomplete="off"
                                           value="#(me.email??)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">手机号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="mobile" lay-verify="required|phone" value="#(me.mobile??)"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <!--todo 添加教师页面增加备注字段-->
                            <div class="layui-form-item">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block">
            <textarea name="remark"  lay-verify="required" autocomplete="off"
                      placeholder="请输入备注"
                      class="layui-textarea">#(me.email??)</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/Jquery-ajax.js"></script>
<script>
    layui.use(['form', 'laydate','jquery','upload'], function () {
        var $=layui.jquery;
        $("#birthday").val("#date(me.birthday??,'yyyy-MM-dd')");
        // alert("#date(me.birthday??,'yyyy-MM-dd')")
        var form = layui.form, laydate = layui.laydate,$=layui.jquery,upload=layui.upload;
        var file='';
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/file/upload'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code !=200){
                    return layer.msg('上传失败');
                }
                 file=res.fileName;
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        laydate.render({
            elem: '#birthday'
        });
        $('#detail').click(function () {
            if(parent.layui.admin!=undefined){
                parent.layui.index.openTabsPage('/teacher/detail/'+#(me.id??0),'#(me.fullName??)'+' - 综合资料')
            }
            else{
                parent.parent.layui.index.openTabsPage('/teacher/detail/'+#(me.id??0),'#(me.fullName??)'+' - 综合资料')
            }

        })
        loadSelectList('聘用性质','pyxz',#(me.getPyxz().id??0))
        loadSelectList('学历','education',#(me.getEducation().id??0))
        loadSelectList('学位','degree',#(me.getDegree().id??0))
        loadSelectList('专业领域','zyly',#(me.getZyly().id??0))
        loadSelectList('性别','sex',#(me.getSex().id??0))
        loadSelectList('职称','zc',#(me.getZc().id??0))
        loadDepartmentList('department',#(me.getDepartment().id??0))
        loadDepartmentsList('departments',#(me.getDepartments().id??0))

         #if(me.annex??!=null)
          $('#demo1').attr('src', '/file/#(me.annex??"")');
         #end
        //监听提交
        form.on('submit(demo1)', function (data) {
            delete data.field.file
          data.field.annex=file
            $.post("/teacher/save", data.field, function (res) {
                if (res.code == 500) {
                    layer.alert(res.message)
                }
                else {
                    parent.location.reload();
                }
            })
            return false;
        });


    });
</script>
</body>
</html>