#@list("training")
#define cols()
<script>
    var cols = [
        {type: 'checkbox', fixed: 'left'},
        {field: 'trainingPeriod', title: '培训时间'},
        {field: 'completeTime', title: '完成时间'},
        {field: 'trainingName', title: '培训名称'},
        {field: 'getACertificate', title: '获取证书'},
        {
            title: '教师', templet: function (s) {
                return " <span class=\"layui-badge layui-bg-green\">"+s.teacher.fullName+"</span>";
            }
        },
        //todo 列表页不显示附件

        // {
        //     title: '附件', templet: function (s) {
        //         if (s.annex != undefined && s.annex != "") {
        //             var o = JSON.parse(s.annex)
        //             return  o.map(function (item) {
        //                 return " <a target='_blank' href='/file/"+item.fileName+"'><span class=\"layui-badge layui-bg-green\">" + item.file.fileName + "</span></a>";
        //             }).join(" ")
        //         }
        //         return "无"
        //     }
        // },
        {fixed: 'right', width: 178, align: 'center', toolbar: '#barDemo'},
    ]
</script>
#end